# Folders
_dev/
dev/
/node_modules

# JSONs
clandata.json
relicdata.json
boxdata.json
farmerdata.json
treasurydata.json
soupdata.json
*.log

# Other
*.traineddata
.env
wfcd-relic-tool/node_modules
*.log
src/storage/database.sqlite
